 header h1 {
    text-align: center;
    height: 100%;
    margin: 0;
    line-height: 150px;
}

 nav {
    margin-left: 90;
    margin-right: 90;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #e4d7d7;
    height:40px;
 }

 img {
    width: 300px;
    height: 375px;
    border: 50px;
    color: #DDD;
    width: calc(100px-40px);
    padding: 100px;
    background-color: #efefef;
    min-height: 10px;
    float:  left;
}

p {
    margin: 50px;
    padding: 15px;
    overflow-y: scroll
}


aside ul {
    list-style-type: none;
    padding-left: 10px;
}

aside li {
    font-size: 25px;
    padding-bottom: 20px;
}

nav ul {
list-style: none;
 }

nav li {
list-style: none;
display: inline;
 }

article {
  float: left;
  width: 50%;
  padding-left: 30px;
}

article p {
  height: 200px;
  width: 150px;
  overflow: auto;
}
div {
    display: inline-block;
}
button {
  background: #111;
  color: #fff;
}

button:hover {
  background: pink
}

